<html>
  <head>
    <title>Developers</title>
  </head>
  <body>
    <h1>Developer</h1>
    <ul>
      <li>
        id: {{ Developer.id_developer }}
      </li>
      <li>
        nom: {{ Developer.developer_name }}
      </li>
      <li>
        llista de jocs: {{ Developer.list_of_games }}
      </li>
      <li>
        llista de plataformes: {{ Developer.list_of_platforms }}
      </li>
      <li>
        puntuacio mitjana: {{ Developer.average_videogames_rating }}
      </li>
    </ul>
  </body>
</html>
