<html>
  <head>
    <title>Developers</title>
  </head>
  <body>
    <h1>Developer</h1>
    <ul>
      <li>
        <b>Id:</b> {{ object.id_developer }}
      </li>
      <li>
        <b>Nom:</b> {{ object.developer_name }}
      </li>
      <li>
        <b>Llista de jocs:</b> {{ object.list_of_games }}
      </li>
      <li>
        <b>Llista de plataformes:</b> {{ object.list_of_platforms }}
      </li>
      <li>
        <b>Puntuacio mitjana:</b> {{ object.average_videogames_rating }}
      </li>
    </ul>
  </body>
</html>
