<html>
  <head>
    <title>Video Games Detail</title>
  </head>
  <body>
    <h1>Video Game</h1>
    <ul>
      <li>
        id: {{ object.id }}
      </li>
      <li>
        titol: {{ object.game_title }}
      </li>
      <li>
        plataforma: {{ object.platform }}
      </li>
      <li>
        Data de sortida: {{ object.release_date }}
      </li>
      <li>
        ESRB: {{ object.ESRB }}
      </li>
      <li>
        genere: {{ object.generes }}
      </li>
      <li>
        trailer: {{ object.trailer }}
      </li>
      <li>
        publisher: {{ object.publisher }}
      </li>
      <li>
        Desenvolupador: {{ object.developer }}
      </li>
      <li>
        puntuacio: {{ object.rating }}
      </li>
      <li>
        similar_count: {{ object.similar_count }}
      </li>
      <li>
        fanart_list: {{ object.fanart_list }}
      </li>
      <li>
        updates: {{ object.updates }}
      </li>
    </ul>
  </body>
</html>
