<html>
  <head>
    <title> GamesDB </title>
      <h1> GamesDB </h1>
  </head>
  <body>
    <h2 style="text-indent: 1em">Video games</h2>
    {% if games %}
    <ul>
    {% for game in games %}
    <li>
    <a href="{% url "gamesdb:games_detail" game.id%}"> {{game.game_title}} </a>
    </li>
    {% endfor %}
    </ul>
    {% else %}
    <p style="text-indent: 2em">No hi ha cap videojoc</p>
    {% endif %}
    <h2 style="text-indent: 1em"> Search for developer </h2>
    {% block sidebar %}<ul><a href="/gamesdb/developers">Developer list</a></ul>{% endblock %}
    <h2 style="text-indent: 1em"> Search for platform </h2>
    <ul><a href="/gamesdb/platforms">Platform list</a></ul>
  </body>
</html>
