<html>
  <head>
    <title>Video Games Detail</title>
  </head>
  <body>
    <h1>Video Game</h1>
    <h2>{{ object.game_title }}</h2>
    {%	if	object.image	%}
        <p><img	src="{{	object.image.url}}" width="300px"/></p>
    {%	endif	%}
    <ul>
      <li>
        <b>Id:</b> {{ object.id }}
      </li>
      <li> <b>Developer:</b>
        <a href="{% url "gamesdb:developers_detail" object.developer.id%}">  {{object.developer.developer_name}} </a>
      </li>
      <li>
        <b>Plataforma:</b>
        <a href="{% url "gamesdb:platforms_detail" object.platform.id%}">  {{object.platform.console_name}} </a>
      </li>
      <li>
        <b>Data de sortida:</b> {{ object.release_date }}
      </li>
      <li>
        <b>ESRB:</b> {{ object.ESRB }}
      </li>
      <li>
        <b>Genere:</b> {{ object.generes }}
      </li>
      <li>
        <b>Trailer:</b>
        <a href="{{object.trailer}}" target="_blank"> {{object.trailer}} </a>
      </li>
      <li>
        <b>Rating:</b> {{ object.rating }}
      </li>
      <li>
        <b>Fanart_list:</b> {{ object.fanart_list }}
      </li>
      <li>
        <b>Updates:</b> {{ object.updates }}
      </li>
      <li>
        <b>Website:</b>
        <a href="{{object.website}}" target="_blank"  > {{object.website}} </a>
      </li>
    </ul>
    <br>
    <a href='/gamesdb'> Home </a>
  </body>
</html>
