<html>
  <head>
    <title>Platform Detail</title>
  </head>
  <body>
    <h1>Platform</h1>
    <ul>
      <li>
        id: {{ Platform.id }}
      </li>
      <li>
        nom: {{ Platform.console_name }}
      </li>
      <li>
        mando: {{ Platform.controller }}
      </li>
      <li>
        overview: {{ Platform.overview }}
      </li>
      <li>
        Desenvolupador: {{ Platform.developer }}
      </li>
      <li>
        Manufacturador: {{ Platform.manufacturer }}
      </li>
      <li>
        CPU: {{ Platform.cpu }}
      </li>
      <li>
        memoria: {{ Platform.memory }}
      </li>
      <li>
        grafics: {{ Platform.grafics }}
      </li>
      <li>
        so: {{ Platform.sound }}
      </li>
      <li>
        display: {{ Platform.display }}
      </li>
      <li>
        media: {{ Platform.media }}
      </li>
      <li>
        maxcontrollers: {{ Platform.maxcontrollers }}
      </li>
      <li>
        puntuacio: {{ Platform.rating }}
      </li>
      <li>
        imatges: {{ Platform.images }}
      </li>
    </ul>
  </body>
</html>
