<html>
  <head>
    <title>Platforms Detail</title>
  </head>
  <body>
    <h1>Platform</h1>
    <h2>{{ object.console_name }}</h2>
    {%	if	object.image	%}
        <p><img	src="{{	object.image.url}}" width="300px"/></p>
    {%	endif	%}
    <ul>
    <ul>
      <li>
        <b>Id:</b> {{ object.id }}
      </li>
      <li>
        <b>Controller:</b> {{ object.controller }}
      </li>
      <li>
        <b>Generation:</b> {{ object.generation }}
      </li>
      <li>
        <b>Manufacturer:</b> {{ object.manufacturer }}
      </li>
      <li>
        <b>Cpu:</b> {{ object.cpu }}
      </li>
      <li>
        <b>Memory:</b> {{ object.memory }}
      </li>
      <li>
        <b>Graphics:</b> {{ object.graphics }}
      </li>
      <li>
        <b>Sound:</b> {{ object.sound }}
      </li>
      <li>
        <b>Rating:</b> {{ object.rating }}
      </li>
      <li>
        <b>Website:</b>
        <a href="{{object.website}}" target="_blank"> {{object.website}} </a>
      </li>
    </ul>

    <h3>List of games</h3>
              {% for game in object.game_set.all %}
                <li><a href="{% url 'gamesdb:games_detail' game.id %}" >{{ game.game_title }}</a></li>
              {% empty %}
                <li>Sorry, no games for this platform yet.</li>
            {% endfor %}
    
    <br>
      <a href='/gamesdb/platforms'> More video game platforms </a>

      <br>
      <a href='/gamesdb'> Home </a>
  </body>
</html>
