<html>
  <head>
    <title>Platforms Detail</title>
  </head>
  <body>
    <h1>Platform</h1>
    <ul>
      <li>
        <b>Id:</b> {{ object.id }}
      </li>
      <li>
        <b>Mame:</b> {{ object.console_name }}
      </li>
      <li>
        <b>Controller:</b> {{ object.controller }}
      </li>
      <li>
        <b>Overview:</b> {{ object.overview }}
      </li>
      <li>
        <b>Developer:</b> {{ object.developer }}
      </li>
      <li>
        <b>Manufacturer:</b> {{ object.manufacturer }}
      </li>
      <li>
        <b>Cpu:</b> {{ object.cpu }}
      </li>
      <li>
        <b>Memory:</b> {{ object.memory }}
      </li>
      <li>
        <b>Graphics:</b> {{ object.graphics }}
      </li>
      <li>
        <b>Sound:</b> {{ object.sound }}
      </li>
      <li>
        <b>Media:</b> {{ object.media }}
      </li>
      <li>
        <b>Maxcontrollers:</b> {{ object.maxcontrollers }}
      </li>
      <li>
        <b>Rating:</b> {{ object.rating }}
      </li>
       <li>
        <b>Images:</b> {{ object.images }}
      </li>
    </ul>
    
    <br>
      <h3>List of games</h3>
              {% for game in object.game_set.all %}
                <li><a href="{% url 'gamesdb:games_detail' game.id %}">{{ game.game_title }}</a></li>
              {% empty %}
                <li>Sorry, no games for this platform yet.</li>
            {% endfor %}
      <br>
    
    <br>
      <a href='/gamesdb/platforms'> More video game platforms </a>

      <br>
      <a href='/gamesdb'> Home </a>
  </body>
</html>
